.btn {
    display: inline-block;
    font-family: "Gilroy";
    vertical-align: middle;
    color: inherit;
    text-align: center;
    white-space: nowrap;
    transition: 0.4s ease;
    height: 48px;
    min-width: 48px;
    padding: 0 21px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;

    &--red {
        border: 1px solid #C20D19;
        color: #fff;
        background-color: #C20D19;
    }

    &--yellow {
        height: 54px;
        border: 1px solid #FFE1A6;
        background-color: #FFE1A6;
    }

    &--border {
        color: #000;
        background-color: transparent;
    }
}

.btn__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}