.icon {
    display: block;

    &--arrow-next {
        width: 8px;
        height: 12px;
    }

    &--arrow-up {
        width: 24px;
        height: 12px;
    }

    &--logo {
        width: 231px;
        height: 33px;
    }

    &--phone {
        width: 18px;
        height: 18px;
    }

    &--mail {
        width: 22px;
        height: 18px;
    }

    &--close,
    &--close-light {
        width: 30px;
        height: 30px;
    }
}