AddDefaultCharset UTF-8

RewriteEngine on
SetEnvIf X-Forwarded-Proto https SERVER_PORT=443
SetEnvIf X-Forwarded-Proto https HTTPS=on

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

RewriteCond %{HTTP:HTTPS} !=on [NC]
RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

<filesMatch ".(css|js|jpg|jpeg|png|gif|webp|svg|ico|woff|woff2)$">
    Header set Cache-Control "max-age=604800, public"
</filesMatch>