<!DOCTYPE html>
<html lang="ru-RU">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document 2</title>

        <!-- Styles -->
        <link rel="stylesheet" href="./css/main.css"/>
    </head>

    <body>
        {% include './sections/header.html' %}

        <main class="main">
            <div class="container">
                <div class="page-content">
                    <div class="page-top">
                        30 января 2024 г.
                    </div>
                    <div class="page-title">
                        <h1>Погрузка контейнеров. В каких случаях требуется эскиз или НТУ?</h1>
                    </div>
                    <div class="page-text">
                        <p>
                            <strong>
                                Для данного типа транспортировки важно тщательно закрепить перевозимые объекты, чтобы
                                избежать их опрокидывания и сдвигов. Если это грузы, которые перевозятся навалом, их
                                поверхность тщательно разравнивается. Бьющиеся детали (если таковые имеются) должны быть
                                защищены от повреждения специальным упаковочным материалом. Пломбировка составов
                                проводится в присутствии заказчика.
                            </strong>
                        </p>
                        <p>
                            Транспортная компания «Промресурс» осуществляет грузоперевозки по всей территории России. Мы
                            предлагаем отправку товаров на открытых платформах, в универсальных контейнерах и вагонах.
                            Специалисты компании оперативно оформят необходимые документы. Мы также берем на себя
                            погрузочные и другие работы. Наши клиенты могут отслеживать местонахождение отправленных
                            товаров на всем пути их следования. Если Вас интересует перевозка грузов на открытом
                            подвижном составе, свяжитесь с нами через онлайн-форму или по телефону. Наши менеджеры
                            рассчитают стоимость транспортировки товаров и ответят на любые интересующие вопросы.
                        </p>
                        <p>
                            Транспортная компания «Промресурс» осуществляет грузоперевозки по всей территории России. Мы
                            предлагаем отправку товаров на открытых платформах, в универсальных контейнерах и вагонах.
                            Специалисты компании оперативно оформят необходимые документы. Мы также берем на себя
                            погрузочные и другие работы. Наши клиенты могут отслеживать местонахождение отправленных
                            товаров на всем пути их следования.
                        </p>

                        <h3>Страхование грузов в ТТ Клубе – это:</h3>
                        <ul>
                            <li>Максимально возможный набор застрахованных рисков в соответствии с последней
                                редакцией классических английских правил страхования (Institute Cargo Clauses
                                1/1/2009).</li>
                            <li>Включение в стандартное покрытие рисков погрузо-разгрузочных работ и
                                перегрузок/транзитного хранения в пути.</li>
                            <li>Широкий перечень категорий грузов.</li>
                            <li>Оперативное согласование условий страхования для «нестандартных» грузов.</li>
                            <li>Возможность оформления как отдельных сертификатов (полисов) страхования на разовые
                                перевозки, так и работы по ежемесячным или ежеквартальным декларациям в рамках
                                генерального договора (полиса).</li>
                            <li>Онлайн-платформа для страхования грузов TT Club Forwarders, <a href="#!">позволяющая иметь доступ
                                к оформлению сертификатов страхования 24/7</a> и получать всю страховую документацию
                                оперативно и в электронном виде.</li>
                        </ul>
                        <h4 class="h4">Заголовок H4</h4>
                        <p>
                            Наши клиенты могут отслеживать местонахождение отправленных
                            товаров на всем пути их следования. Если Вас интересует перевозка грузов на открытом
                            подвижном составе, свяжитесь с нами через онлайн-форму или по телефону. Наши менеджеры
                            рассчитают стоимость транспортировки товаров и ответят на любые интересующие вопросы.
                        </p>
                        <p>
                            <img src="./../img/slider/slide_3.jpg" alt="">
                        </p>
                        <h5 class="h5">Заголовок H5</h5>
                        <h6 class="h6">Заголовок H6</h6>
                    </div>
                </div>
            </div>
        </main>

        {% include './sections/footer.html' %}
    </body>

</html>