<!DOCTYPE html>
{% set title = "Схема погрузки .РФ | Разработка схем размещения и крепления грузов" %}
{% set url = "https://shema-pogruzki.ru/" %}
{% set description = "Разработка схем размещения и крепления грузов на платформах, в полувагонах, в крытых вагонах, в крупнотоннажных контейнерах, а также на платформенных, площадочных, колодцевых и сцепных транспортерах." %}
{% set keywords = "схема погрузки, эскиз погрузки, чертеж погрузки, НТУ, МТУ, железная дорога, жд, груз, перевозка, негабарит, платформа, полувагон, крытый вагон, транспортер " %}

<html lang="ru-RU">
    <head>
        <!-- Encoding -->
        <meta charset="UTF-8"/>

        <!-- Mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- Title and SEO -->
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}"/>
        <meta name="keywords" content="{{ keywords }}"/>
        <link rel="canonical" href="{{ url }}"/>

        <!-- Styles -->
        <link rel="stylesheet" href="./css/main.css"/>

        <!-- OpenGraph -->
        <meta property="og:url" content="{{ url }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="./img/opengraph.jpg"/>

        <!-- Favicon -->
        <link rel="icon" href="./img/favicon/favicon.ico" sizes="any"/>
        <link rel="shortcut icon" href="./img/favicon/favicon.svg" type="image/svg+xml"/>
        <link rel="apple-touch-icon" href="./img/favicon/apple-touch-icon.png"/>
        <link rel="manifest" href="./img/favicon/manifest.webmanifest"/>
    </head>

    <body>
        {% include './blocks/loader.html' %}
        {% include './modals/modals.html' %}
        {% include './blocks/header.html' %}

        <main class="main">
            {% include './sections/slider.html' %}
            {% include './sections/services.html' %}
            {% include './sections/about.html' %}
            {% include './sections/portfolio.html' %}
            {# {% include './sections/articles.html' %} #}
            {% include './sections/docs.html' %}
        </main>

        {% include './blocks/footer.html' %}
        {% include './blocks/scrollup.html' %}

        <!-- Scripts -->
        <script src="./libs/lazysizes.min.js" async></script>
        <script src="./js/index.js" type='module'></script>
    </body>

</html>