<!DOCTYPE html>
{% set title = "Схема погрузки .РФ | Разработка схем размещения и крепления грузов" %}
{% set url = "http://shema-pogruzki.ru/" %}
{% set description = "Разработка схем размещения и крепления грузов на платформах, в полувагонах, в крытых вагонах, в
 крупнотоннажных контейнерах, а также на платформенных, площадочных, колодцевых и сцепных транспортерах." %}
{% set keywords = "схема погрузки, эскиз погрузки, чертеж погрузки, НТУ, МТУ, железная дорога, жд, груз, перевозка,
 негабарит, платформа, полувагон, крытый вагон, транспортер " %}

<html lang="ru-RU">

    <head>
        <!-- Encoding -->
        <meta charset="UTF-8">

        <!-- Mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- Title and SEO -->
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}"/>
        <meta name="keywords" content="{{ keywords }}"/>

        <!-- Styles -->
        <link rel="stylesheet" href="./css/main.css"/>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () {
                    (m[i].a = m[i].a || []).push(arguments)
                };
                m[i].l = 1 * new Date();
                for (var j = 0; j < document.scripts.length; j++) {
                    if (document.scripts[j].src === r) {
                        return;
                    }
                }
                k = e.createElement(t),
                a = e.getElementsByTagName(t)[0],
                k.async = 1,
                k.src = r,
                a
                    .parentNode
                    .insertBefore(k, a)
            })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(96778311, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
            });
        </script>
        <noscript>
            <div><img src="https://mc.yandex.ru/watch/96778311" style="position:absolute; left:-9999px;" alt=""/></div>
        </noscript>
        <!-- /Yandex.Metrika counter -->

        <!-- OpenGraph -->
        <meta property="og:url" content="{{ url }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="./img/opengraph.jpg"/>

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="76x76" href="./img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
        <link rel="manifest" href="./img/favicon/site.webmanifest">
        <link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="./img/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="./img/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        {% include './modals/modals.html' %}
        {% include './blocks/header.html' %}

        <main class="main">
            {% include './sections/slider.html' %}
            {% include './sections/services.html' %}
            {% include './sections/about.html' %}
            {% include './sections/portfolio.html' %}
            {# {% include './sections/articles.html' %} #}
            {% include './sections/docs.html' %}
        </main>

        {% include './blocks/footer.html' %}
        {% include './blocks/scrollup.html' %}

        <!-- Scripts -->
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        {# <script type='module' src="./js/index.js"></script> #}
        <script src="./js/index.bundle.js"></script>
    </body>

</html>