.form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

// .form__title {}

// .form__text {}

.form__instruction {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 5px;
}

.form__notice {
    font-weight: 700;
    font-size: 15px;
    line-height: 2;
}

.form__row {
    display: flex;
    margin: 0 -6px;
}

.form__item {
    padding: 0 6px;
    flex: 1;
}

.form__buttons {
    margin-top: 25px;
}