// input[type="text"] & textarea

.input {
    display: flex;
    flex-direction: column;
}

.input__label {
    display: flex;
    flex-direction: column;
}

.input__name {
    margin-bottom: 5px;
    text-align: left;
    font-size: 15px;
    line-height: 1;
    color: #000;
}

.input__field {
    padding: 0 17px;
    height: 48px;
    border: 1px solid $gray-input;
    font-family: $baseFont;
    width: 100%;
    transition: $med;
    background: $white;
    font-size: 15px;
    color: $dark;
    font-weight: 300;

    &--large {
        height: 54px;
        padding: 0 25px;

        @include bp(768px) {
            height: 48px;
            padding: 0 15px;
        }
    }

    &--error {
        border: 1px solid $red;
    }

    &.textarea {
        padding: 12px 17px;
        height: 120px;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    &::placeholder {
        color: $gray-placeholder;
        opacity: 1;
    }
}

.input__notify {
    font-size: 12px;
    line-height: 1.21;
    color: $red;
    text-align: left;
}

// input[type="file"]

.input-file__label {
    display: flex;
    align-items: flex-start;
}

.input-file__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border: 1px solid $gray-input;
}

.input-file__text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.input-file__info {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.input-file__notice {
    font-size: 12px;
    line-height: 1.2;
}

// input[type="number"]

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;

    &:hover,
    &:focus {
        -moz-appearance: number-input;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}