.services {
	padding-top: 70px;
	padding-bottom: 40px;
	scroll-margin-top: 140px;

	@include bp(768px) {
		padding-top: 48px;
		padding-bottom: 16px;
		scroll-margin-top: 92px;
	}
}

.services__row {
	display: flex;
	flex-wrap: wrap;
	margin: -5px;
}