.btn {
    display: inline-block;
    font-family: "Gilroy";
    vertical-align: middle;
    color: inherit;
    text-align: center;
    white-space: nowrap;
    transition: 0.4s ease;
    height: 48px;
    min-width: 48px;
    padding: 0 21px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;

    @include bp(768px) {
        padding: 0 13px;
        height: 32px;
        font-size: 13px;
    }

    &--red {
        border: 1px solid $red;
        color: $white;
        background-color: $red;
    }

    &--yellow {
        height: 54px;
        border: 1px solid #FFE1A6;
        background-color: #FFE1A6;

        @include bp(768px) {
            height: 48px;
        }
    }

    &--border {
        color: #000;
        background-color: transparent;
    }
}

.btn__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}