.icon {
    display: block;
    flex-shrink: 0;

    &--arrow-next {
        width: 8px;
        height: 12px;
    }

    &--arrow-up {
        width: 24px;
        height: 12px;

        @include bp(768px) {
            width: 12px;
            height: 6px;
        }
    }

    &--close {
        width: 30px;
        height: 30px;
        stroke: #000;
    }

    &--close-light {
        width: 30px;
        height: 30px;
        stroke: #FFF;
    }

    &--logo {
        width: 234px;
        height: 50px;

        @include bp(768px) {
            width: 141px;
            height: 30px;
        }
    }

    &--mail {
        width: 22px;
        height: 18px;

        @include bp(768px) {
            width: 16px;
            height: 12px;
        }
    }

    &--phone {
        width: 18px;
        height: 18px;

        @include bp(768px) {
            width: 12px;
            height: 12px;
        }
    }

    &--plus {
        width: 12px;
        height: 12px;
    }


    &--telegram {
        width: 40px;
        height: 40px;
    }

    &--whatsapp {
        width: 40px;
        height: 40px;
    }
}