.none {
	display: none !important;
}

.visually-hidden {
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}

.placeholder {
    background-color: lightblue !important;
    
	&--transparent{
		background-color: rgba(173, 216, 230, 0.3) !important;
	}

    &--border{
        background-color: transparent;
        border: 1px solid lightgreen !important;
    }

	&--gray {
		background-color: gray !important;
	}
}

.section-borders {
	border-top: 1px solid orangered;
	border-bottom: 1px solid orangered;
}