.footer {
    padding: 45px 0;
    background-color: rgb(241, 245, 247);
}

.footer__row {
    display: flex;
    justify-content: space-between;

    @include bp(500px) {
        flex-direction: column;
        row-gap: 10px;
    }
}

.footer__item {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    line-height: 1.25;

    &--right {
        align-items: flex-end;

        @include bp(500px) {
            align-items: flex-start;
        }
    }
}

.footer__name,
.footer__phone,
.footer__phone a.link {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;

    @include bp(768px) {
        font-size: 13px;
    }
}

.footer__adress,
.footer__email,
.footer__email a.link {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 500;

    @include bp(768px) {
        font-size: 11px;
    }
}