a.logo {
    display: block;
    flex-shrink: 0;
    height: 50px;
    position: relative;
    z-index: 2;
    font-size: 0;
    overflow: hidden;

    @include bp(768px) {
        height: 30px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}