$line-width: 24px;
$line-height: 2px;
$color: $red;

$width: $line-width;
$height: $line-height * 8;

.nav-icon {
	position: relative;
	width: $width;
	height: $height;
	justify-content: center;
	align-items: center;
	z-index: 100;
	cursor: pointer;
}

.nav-icon__middle {
	position: relative;
	width: $line-width;
	height: $line-height;
	background-color: $color;
	transition: background-color 0s linear .2s;

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		width: $line-width;
		height: $line-height;
		background-color: $color;
		transition: transform .2s ease-in, top .2s linear .2s;
	}

	&::before {
		top: -($line-height * 3.5);
	}

	&::after {
		top: $line-height * 3.5;
	}
}

// .nav-icon.nav-icon--active {}

.nav-icon.nav-icon--active .nav-icon__middle {
	background-color: transparent;

	&::before,
	&::after {
		top: 0;
		// background-color: #000;
		transition: top .2s linear, transform .2s ease-in .2s;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}