<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document 2</title>

    <!-- Styles -->
    <link rel="stylesheet" href="./css/main.css" />
</head>

<body>
    {% include './sections/header.html' %}

    <main class="main">
        <div class="container">
            <div class="page-content">
                <div class="page-top">
                    30 января 2024 г.
                </div>
                <div class="page-title">
                    <h1>Погрузка контейнеров. В каких случаях требуется эскиз или НТУ?</h1>
                </div>
                <div class="page-text">
                    <p>
                        <strong>
                            Наши клиенты часто задают вопрос, требуется ли разработка эскизов или НТУ при погрузке
                            крупнотоннажных контейнеров.
                        </strong>
                    </p>
                    <p>
                        Условия и требования к размещению и крепению грузов в универсальных контейнерах опредялются
                        Главой 12 Технических условий размещения и крепления грузов в вагонах и контейнерах № ЦМ-943 при
                        перевозке во внутригосударственном сообщении и Памяткой ОСЖД О+Р 401 «РАЗМЕЩЕНИЕ И КРЕПЛЕНИЕ
                        ГРУЗОВ В КРУПНОТОННАЖНЫХ КОНТЕЙНЕРАХ» при перевозке в международном сообщении.
                    </p>
                    <p>
                        Все положения Памятки имеют обязательный характер при перевозках экспортных грузов из Российской Федерации, а также Республики Беларусь в случаях размещения и крепления грузов в контейнере на ее территории. В некоторых странах-участницах СМГС все либо некоторые положения Памятки имеют рекомендательный характер.
                    </p>
                    <h4>В данной главе технических условий рассматривается:</h4>
                    <ul>
                        <li>Общие положения и требования к размещению и креплению грузов в крупнотоннажных контейнеерах
                        </li>
                        <li>Размещение и крепление тарных штучных грузов в крупнотоннажных контейнерах</li>
                        <li>Размещение и крепление в крупнотоннажных контейнерах грузов массой до 1,5 тонн включительно
                            в упаковке</li>
                        <li>Размещение в крупнотоннажных контейнерах грузов длиной до 6000 мм включительно без упаковки
                        </li>
                        <li>Размещение в крупнотоннажных контейнерах грузов цилиндрической офрмы</li>
                        <li>Размещение и крепление легковых автомобилей в крупнотоннажных контейнерах</li>
                    </ul>

                    <h4 class="h4">Заголовок H4</h4>
                    <p>
                        D
                    </p>
                    <p>
                        <img src="./../img/slider/slide_3.jpg" alt="">
                    </p>
                    <h5 class="h5">Заголовок H5</h5>
                    <h6 class="h6">Заголовок H6</h6>
                </div>
            </div>
        </div>
    </main>

    {% include './sections/footer.html' %}
</body>

</html>