.nav {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;

	a {
		margin-right: 60px;
		color: #2D2D2D;
		text-decoration: none;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: #358bee;
		}
	}
}

/* Mobile */
@media (max-width: 899px) {
	.nav {
		position: fixed;
		top: 0;
		right: 0;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 60%;
		height: 100%;
		background-color: #2D2D2D;
		opacity: 0;
		
		transform: translateX(100%);
		
		transition: all .3s ease-in;
		// transition: opacity .3s ease-in;
		// transition: opacity .3s ease-in, transform 0s linear .3s;

		a {
			color: $white;
			margin-right: 0;
			margin-top: 35px;
			font-size: 28px;
		}

		&.nav--active {
			opacity: 1;		
			transform: translateX(0);
			// transition: transform 0s linear, opacity .3s ease-in;
		}
	}
}