// COLORS
$red: #C20D19;
$white: #fff;


$black: #000;
$baseTxt: #222222;
$gray-border: #E2E8EB;
$gray: #9FA9AE;
$dark: #333333;
$gray-placeholder: #899398;
$gray-input: #C1CBCF;
$orange: #FFDC98;
$gray-bg: #FAFBFB;
$red-dark: #BC0D18;
$yellow: #FFD88B;
$green: #2E7900;
$grayLight: #F6F7F8;
$graySmoke: #7E898F;
$redLink: #C72E39;
$socLink: #B4C4CE;

// FONTS
$baseFont: 'Gilroy';
$baseRem: 16px;

//Animation speed
$fast: 0.25s;
$med: 0.4s;
$sMed: 0.5s;
$slow: 0.8s;

// MEDIA POINTS
$point-1: 320px;
$point-2: 480px;
$point-3: 768px;
$point-4: 960px;
$point-5: 1210px;
$point-6: 1500px;
$point-7: 1700px;
$point-8: 2250px;



