<section id="about" class="about">
    <div class="container">
        <div class="about__block">
            <div class="about__text">
                <h3 class="h3">О компании</h3>
                <p>
                    <strong>
                        Наша специализация - разработка схем размещения и крепления грузов на железнодорожном транспорте. Работаем по всей сети железных дорог РФ и СНГ с 2010 года. Накопленный опыт проектирования позволяет в сжатые сроки решать даже самые сложные технические задачи.
                    </strong>
                </p>
                <p>
                    Мы выполняем эскизы и схемы размещения и крепления тарно-штучных грузов, металлических конструкций, железобетонных изделий, промышленного оборудования, колесной и гусеничной техники на платформах, в полувагонах, в крытых вагонах, в крупнотоннажных контейнерах, а также на платформенных, площадочных, колодцевых и сцепных транспортерах при перевозках во внутригосударственном и международном сообщении.
                </p>
                <a class="link link--icon link--arrow" modal-button="callback">
                    <span class="link__text">
                        Стать клиентом
                    </span>
                    <span class="link__icon">
                        <svg class="icon icon--arrow-next">
                            <use xlink:href="./img/icons/sprite.svg#arrow-next"></use>
                        </svg>
                    </span>
                </a>
            </div>
            <div class="about__img">
                <img class="img" src="./img/about/about.jpg" alt="О компании">
            </div>
        </div>

        <div class="about__row">
            {% set about = [
                {
                    "legend": "более",
                    "number": "5 000",
                    "text": "разработано эскизов погрузки на платформы, в полувагоны, крытые вагоны и контейнеры"
                }, {
                    "legend": "более",
                    "number": "1 000",
                    "text": "разработано схем НТУ и схем размещения и крепления негабаритных грузов"
                }, {
                    "legend": "свыше",
                    "number": "25 000",
                    "text": "вагонов погружено по разработанным нами эскизам и чертежам погрузки"
                }, {
                    "legend": "менее",
                    "number": "5 дней",
                    "text": "составляет средний срок разработки непредусмотренных технических условий (НТУ)"
                }
            ] %}

            {% for item in about %}
                {% include './../cards/about-card.html' %}
            {% endfor %}
        </div>
    </div>
</section>