<section id="docs" class="docs">
    <div class="container">
        <div class="section-title ">
            <h2 class="h2">Документы</h2>
        </div>
        <div class="docs__row">
            {% set docs = [
                { 
                    "title": "Технические условия размещения и крепления грузов в вагонах и контейнерах (ЦМ-943)",
                    "size": "178,8",
                    "link": "./files/tu-cm943.pdf"
                },
                { 
                    "title": "Приложение 3 к Соглашению о международном железнодорожном грузовом сообщении (СМГС) (ред. от 01.07.2023). Том 1",
                    "size": "19,7",
                    "link": "./files/smgs-p3-t1.pdf"
                },
                { 
                    "title": "Приложение 3 к Соглашению о международном железнодорожном грузовом сообщении (СМГС) (ред. от 01.07.2023). Том 2",
                    "size": "40,0",
                    "link": "./files/smgs-p3-t2.pdf"
                },
                { 
                    "title": "Инструкция по перевозке негабаритных и тяжеловесных грузов на железных дорогах стран-участников СНГ (ДЧ-1835)",
                    "size": "60,8",
                    "link": "./files/dch-1835.pdf"
                },
                { 
                    "title": "Технические условия размещения и крепления грузов в вагонах и контейнерах (ЦМ-943)",
                    "size": "178,8",
                    "link": "./files/tu-cm943.pdf"
                },
                { 
                    "title": "Приложение 3 к Соглашению о международном железнодорожном грузовом сообщении (СМГС) (ред. от 01.07.2023). Том 1",
                    "size": "19,7",
                    "link": "./files/smgs-p3-t1.pdf"
                },
                { 
                    "title": "Приложение 3 к Соглашению о международном железнодорожном грузовом сообщении (СМГС) (ред. от 01.07.2023). Том 2",
                    "size": "40,0",
                    "link": "./files/smgs-p3-t2.pdf"
                },
                { 
                    "title": "Инструкция по перевозке негабаритных и тяжеловесных грузов на железных дорогах стран-участников СНГ (ДЧ-1835)",
                    "size": "60,8",
                    "link": "./files/dch-1835.pdf"
                }
            ] %}

            {% for item in docs %}
                {% include './../cards/doc-card.html' %}
            {% endfor %}
        </div>
    </div>
</section>