<section id="faq" class="faq">
    <div class="container">
        <div class="section-title ">
            <h2 class="h2">Вопросы и ответы</h2>
        </div>
        <div class="faq__row">
            {% set questions = [
                {
                    "title": "Какие существуют виды габарита погрузки и в каких случаях они применяются?",
                    "answer": ["Основной, льготный и зональный.", "Основной габарит погрузки применяется для всех грузов.", "Льготный габарит погрузки применяется для грузов, размещаемых в пределах длины кузова платформы или полувагона, погруженных в соответствии с ТУ, МТУ и НТУ (за исключением участков Дальневосточной ж.д.: Хабаровск-1 – Амур и Кимкан – Богучан).", "Зональный габарит погрузки применяется для грузов, погруженных в соответствии с ТУ, а также лесных грузов, погруженных в соответствии с МТУ."]
                }, {
                    "title": "Что делать, если я не уверен, достаточно ли будет эскиза погрузки, или потребуется разработка НТУ?",
                    "answer": ["Действительно, требования некоторых пунктов Технических условий сформулированы недостаточно четко и могут вызывать разночтения. В связи с этим нередко возникает ситуация, когда изначально не понятно, достаточно ли будет разработки эскиза погрузки, или потребуется разработка НТУ.", "В этом случае, как правило, целесообразно будет не разрабатывать сразу НТУ, а начать с разработки эскиза, направить его на согласование, и только в случае отказа доработать эскиз до схемы НТУ. При этом Вам не придется дополнительно оплачивать разработку эскиза, стоимость услуг будет такой же, как стоимость разработки обычной схемы НТУ."]
                }
            ] %}

            {% for question in questions %}
                {% include './../cards/question-card.html' %}
            {% endfor %}

        </div>
    </div>
</section>