<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="section-title ">
            <h2 class="h2">Портфолио</h2>
        </div>
        <div class="portfolio__row">
            {% set portfolio = [
                {
                    "title": "Эскиз размещения и крепления бумаги в крытом вагоне модели 11-6874 с объемом кузова 175 куб. м",
                    "img": "01.jpg"
                }, {
                    "title": "Схема размещения и крепления электротехнического оборудования на универсальной платформе (Н0010) ",
                    "img": "02.jpg"
                }, {
                    "title": "Схема размещения и крепления металлических конструкций в глуходонном полувагоне модели 12-4102 (Н0020)",
                    "img": "03.jpg"
                }, {
                    "title": "Схема размещения и крепления экскаватора Hyundai R380LC на универсальной платформе (Н1120)",
                    "img": "04.jpg"
                }, {
                    "title": "Схема размещения и крепления автокрана Grove GMK-3055 на универсальной платформе (Н0020)",
                    "img": "05.jpg"
                }, {
                    "title": "Схема размещения и крепления вахтовых автомобилей на шасси МАЗ 6317 на фитинговой платформе модели 23-469-07 (Н0020)",
                    "img": "06.jpg"
                }
            ] %}

            {% for item in portfolio %}
                {% include './../cards/portfolio-card.html' %}
            {% endfor %}
        </div>
    </div>
</section>