<section id="services" class="services">
    <div class="container">
        <div class="section-title">
            <h2 class="h2">Наши услуги</h2>
        </div>
        <div class="services__row">
            {% set services = [
                {
                    "title": "Разработка эскизов размещения и крепления грузов на платформах, в полувагонах, крытых вагонах и контейнерах",
                    "img": "01.png",
                    "modal": "sketch"
                }, {
                    "title": "Разработка схем размещения и крепления грузов способами, не предусмотренными техническими условиями (НТУ)",
                    "img": "02.png",
                    "modal": "ntu"
                }, {
                    "title": "Разработка местных технических условий (МТУ)",
                    "img": "03.png",
                    "modal": "mtu"
                }, {
                    "title": "Разработка схем размещения и крепления негабаритных грузов и грузов, перевозимых на транспортерах",
                    "img": "04.png",
                    "modal": "n8888"
                }
            ] %}

            {% for service in services %}
                {% include './../cards/service-card.html' %}
            {% endfor %}
        </div>
    </div>
</section>